<div layout="row" layout-align="center center">
    <div flex="50" flex-sm="80" flex-xs="90">
        <md-content>
            <md-tabs md-border-bottom md-dynamic-height>
                <md-tab label="you">
                    <md-card theme="default">
                        <img src="http://placekitten.com/600/500" class="md-card-image hide-xl hide-lg hide-md hide-sm">
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">{{user.username}}</span>
                                <span class="md-subhead">{{user.fullname}}</span>
                                <span class="md-subhead">{{user.email}}</span>
                            </md-card-title-text>
                            <md-card-title-media>
                                <div class="md-media-lg card-media hide-xs">
                                    <img src="http://placekitten.com/200/200">
                                </div>
                            </md-card-title-media>
                        </md-card-title>
                        <md-card-content class="hide-xs">
                            <md-button class="md-primary" ng-click="vm.editProfile()">Edit Profile</md-button>
                            <md-button class="md-warn" ng-click="vm.changePassword()">Change Password</md-button>
                        </md-card-content>
                        <md-card-actions layout="column" layout-align="start" class="hide-xl hide-lg hide-md hide-sm">
                            <md-button class="md-primary" ng-click="vm.editProfile()">Edit Profile</md-button>
                            <md-button class="md-warn" ng-click="vm.changePassword()">Change Password</md-button>
                        </md-card-actions>
                    </md-card>
                </md-tab>
                <md-tab label="feed">
                    <md-card>
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">Hello Post!</span>
                                <span class="md-subhead">Posted By: Danny</span>
                            </md-card-title-text>
                            <md-card-title-media>
                            </md-card-title-media>
                        </md-card-title>
                        <md-card-content>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam architecto, at
                                excepturi harum magni quisquam recusandae rerum sint soluta voluptatibus! Blanditiis
                                deleniti labore nisi omnis, praesentium quis voluptas voluptatem? Beatae...</p>
                            <md-button class="md-primary">Read More</md-button>
                        </md-card-content>
                    </md-card>
                    <md-card>
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">A different post</span>
                                <span class="md-subhead">Posted By: Danny</span>
                            </md-card-title-text>
                            <md-card-title-media>
                            </md-card-title-media>
                        </md-card-title>
                        <md-card-content>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam architecto, at
                                excepturi harum magni quisquam recusandae rerum sint soluta voluptatibus! Blanditiis
                                deleniti labore nisi omnis, praesentium quis voluptas voluptatem? Beatae...</p>
                            <md-button class="md-primary">Read More</md-button>
                        </md-card-content>
                    </md-card>
                    <md-card>
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">Someone help!</span>
                                <span class="md-subhead">Posted By: Danny</span>
                            </md-card-title-text>
                            <md-card-title-media>
                            </md-card-title-media>
                        </md-card-title>
                        <md-card-content>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam architecto, at
                                excepturi harum magni quisquam recusandae rerum sint soluta voluptatibus! Blanditiis
                                deleniti labore nisi omnis, praesentium quis voluptas voluptatem? Beatae...</p>
                            <md-button class="md-primary">Read More</md-button>
                        </md-card-content>
                    </md-card>
                </md-tab>
                <md-tab label="your posts">
                    <md-card ng-repeat="thread in threads">
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">{{thread.title}}</span>
                                <span class="md-subhead">Posted By: {{user.username}}</span>
                            </md-card-title-text>
                            <md-card-title-media>
                            </md-card-title-media>
                        </md-card-title>
                        <md-card-content>
                            <p>{{thread.post_content}}</p>
                            <md-button class="md-primary" ng-href="#/thread/{{thread._id}}">Read More</md-button>
                            <md-button class="md-warn">Delete</md-button>
                        </md-card-content>
                    </md-card>
                </md-tab>
                <md-tab label="your schools">
                    <md-card ng-repeat="school in schools">
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">{{school.schoolName}}</span>
                                <span class="md-subhead">Head Instructor: {{school.leadInstructor}}</span>
                            </md-card-title-text>
                            <md-card-title-media>
                            </md-card-title-media>
                        </md-card-title>
                        <md-card-content>
                            {{school.description}}
                        </md-card-content>
                        <md-card-actions>
                            <md-button class="md-primary" ng-href="#/school/{{school._id}}">View School</md-button>
                        </md-card-actions>
                    </md-card>
                </md-tab>
            </md-tabs>
        </md-content>
    </div>
</div>